/* f2e9e4
c9ada7
9a8c98
4a4e69
22223b */

:root {
    background-color: #f2e9e4;
    --navy: #22223b;
    --cornflower: #4a4e69;
    --purple-ish: #9a8c98;
    --beige: #c9ada7;
    --light-beige: #f2e9e4;

}

.everything {
    margin: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

/* .list {
    color: green;
} */

.form-div {
    display: block;
    background-color: green;
    max-width: 800px;
    margin: 0 auto;
}

.text-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--navy);
    /* border-radius: 6px; */
    /* margin: 10px 5px 10px 5px; */
}

/* .text-input-div {
    margin: 10px 5px 10px 5px;
} */

.add-button {
    border-radius: 15px;
    border: 2px solid var(--navy);
    width: 150px;
    cursor: pointer;
    background-color: var(--navy);
    color: white;
    padding: 5px;
}

.add-button:hover {
    background-color: white;
    border: 2px solid var(--navy);
    color: var(--navy);
}

/* .form-element {
    margin: 100px;
} */

input {
    margin: 5px 0;
}
